{% extends 'base.html.twig' %}

{% block title %}Fiche Contact
{% endblock %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}


{% block body %}
	<style>
		.form {
			margin: 1em auto;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.sent_info {
			
		}
	</style>

	<div class="form">
		{{ form_start(form) }}

		{{ form_row(form.firstName, { 'attr': {'placeholder': "Julien"}}) }}
		{{ form_row(form.lastName, { 'attr': {'placeholder': "Dupont"}}) }}
		{{ form_row(form.email, { 'attr': {'placeholder': "email@exemple.com"}}) }}
		{{ form_row(form.service) }}
		{{ form_row(form.content, { 'attr': {'placeholder': "Contenu de l'email"}}) }}

		<button type="submit" class="btn btn-success">
			Envoyer
		</button>

		{{ form_end(form) }}
		{% if sent %}
			<div class="sant_info">
				Email envoyé !
			</div>
		{% endif %}
	</div>
{% endblock %}
